@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

 /* Colors */
:root {
    --colorWhite: hsl(0, 0%, 100%);
    --colorLightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}
 


body {
    font-family:'Outfit', sans-serif;
    background-color: var(--colorLightGray);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card {
    background-color: var(--colorWhite);
    width: 360px;
    height: fit-content;
    align-self: center;
    border-radius: 20px;
    padding-bottom: 25px;
    
}


img {
    border-radius: 20px;
    width: 320px;
    margin: 20px 20px 5px 20px;
}

h1 {
font-size: 27px;
padding: 0 25px;
color: var(--DarkBlue);
font-weight: 700;
}

p {
    font-size: 15px;
    font-weight: 400;
    padding: 0 25px;
    color: var(--GrayishBlue);
}

a {
    text-decoration: none;
    color: var(--DarkBlue);
}

footer {
    margin-top: 100px;
}